doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=|, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Registro
  h1 Registro de carros
  style.
    .grid div:first-child img{
    width: 100%;
    height: 500px;
    }
    h2{
    color: blue;
    margin-left: 9%;
    }
    .hola{
    border-top: 0;
    }
div(data-role='main')
  .ui-grid-a.grid
    .ui-block-a
      img(src='<?php echo base_url(); ?>imagenes/playa.jpg' alt='')
    .ui-block-b
      form(action='<?php echo base_url(); ?>index.php/principal/validaAcceso' method='POST' data-ajax='false')
        label(for='') Usuario: 
        input(type='text' name='user')
        label(for='') Contrase&ntilde;a: 
        input(type='password' name='pass')
        input(type='submit' value='Ingresar')
