doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  title Hello, world!
table.table.table-hover
  thead
    tr
      th(scope='col') #
      th(scope='col') Nombre
      th(scope='col') descripcion
      th(scope='col') color
       th(scope='col') placa
        th(scope='col') nit
         th(scope='col') precio
          th(scope='col') fecha de venta
           th(scope='col') marca
            th(scope='col') cilindraje
  tbody
    tr
      th(scope='row') id; ?&gt;
      td nombre; ?&gt;
      td descripcion; ?&gt;
       td placa; ?&gt;
        td marca; ?&gt;
         td fecha de venta; ?&gt;
          td cilindraje; ?&gt;
           td nit; ?&gt;
        td precio; ?&gt;
         td color; ?&gt;
          td precio; ?&gt;
